<h1 class="display-6">Editing Developer</h1>

<%= render 'form', developer: @developer %>

<div class="link-section">
    <%= link_to 'Show', @developer, class:"btn btn-primary" %> 
    <%= link_to 'Back', developers_path, class:"btn btn-primary" %>
</div>
