h1 {
  margin: 1rem 0;
  text-align: center;
}
.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#table-section {
  width: 80vw;
}
.form-section {
  display: flex;
  justify-content: center;
}
.form_field-container {
  width: 50vw;
}
.actions {
  text-align: center;
}

.link-section {
  margin: 1rem 0;
  text-align: center;
}

.display-section {
  text-align: center;
}
#error_explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  font-size: x-large;
}

a {
  color: white;
  list-style: none;
  text-decoration: none;
}
a:hover {
  color: white;
}
